<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <img src="/img/profile-pic.jpg" class="img-responsive img-centered" alt="">
      </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">About Me</h2>
        <hr class="light">
        <p>
          My name is Kwaku Prempeh but you can call me <strong><em>"Kwakes"</em></strong>
        </p>
        <br>
        <p>
          With a background of creativity courtesy of a Music Technology degree and after working in the customer service industry for many years, I decided that I was ready for a new and exciting challenge and change career paths completely. I've always had an interest in all things tech, web and software driven so I decided to learn the fundamentals of programming full-stack websites and apps. 
          <br>
          <br>    
          I’m very enthusiastic and excited to find a Junior Developer role to help harness and unlock my creativity and grow my passion for new technologies. I am very keen to utilise my current skills and develop new ones, with a desire to work within an organisation that will offer training and career progression. 
          <br>
          Music, sports and movies are my main loves in life. I play football every Saturday afternoon for a local club and a loyal Arsenal fan. I also love every opportunity to get myself on a dance floor and showoff my moves. I sometimes DJ parties and events whenever the opportunity comes and also produce music tracks in my spare time. Twelve years in a cinema will show you that I could watch and talk about movies all day and I try to get up to date with the latest releases and upcoming movies. </p>
          <a href="#services" class="btn btn-default btn-xl page-scroll">Checl Out My Skills</a>
        </div>
      </div>
    </div>
  </section>