<!-- Education Section -->
<section id="education">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Education</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/GA.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Web Development Immersive</h4>
                <h4 class="subheading">General Assembly</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">London</p>
                <p class="text-muted">September - December 2015</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/TVU.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">

              
              
              
                <h4>BA (Hons) Music Technology</h4>
                <h4 class="subheading">Thames Valley University</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Ealing</p>
                <p class="text-muted">October 2001- May 2004</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/RUTC.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>BTEC National Diploma in Performing Arts</h4>
                <h4 class="subheading">Richmond Upon Thames College</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Twickenham</p>
                <p class="text-muted">September 1999 - July 2001</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>