

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Lets Keep In Touch!</h2>
                    <hr class="primary">
                    <p>Please fell free to contact me via email - <strong><em>kwakesproject@gamil.com</em></strong>, tweet me or have a look at my Github and LinkedIn profiles to find out a bit more about me and my code.</p>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <a href="https://github.com/KwakesProject" target="_blank">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <a href="https://linkedin.com/in/kwakuprempeh" target="_blank">
                        <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                </div>
                
                <div class="col-lg-4 col-md-4 text-center">
                    <a href="https://twitter.com/KwakesProject" target="_blank">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    </a>
                </div>
                
                
                
            </div>
        </div>